*{margin:0;padding:0;}

ul,li{list-style:none;}
a{ text-decoration: none;}
a,p{cursor:pointer;}
.top-head {
    width: 100%;
    height: auto;
    position: relative;
}

.border0{border: 0 !important;}

.min {
    width: 1000px;
    height: 90px;
    margin: 0 auto;
    position: relative;
}

.min img{ float:left;}

.headul {
    float: right;
    height: 90px;
    text-align: center;
}

.headul li {
   float: left;
    width: 80px;
    height: 90px;
    line-height: 90px;
}

.headul li a {
    color: #000;
    text-decoration: none;
font-size:15px;
font-weight: 600;
}

.delnglu {
    background: red;
    padding: 5px 9px 5px;
    border-radius: 5px;
    color: white !important;
}

.help {
    width: 100%;
    height: auto;
    position: relative;
    background: #f7f7f7;
    display: inline-block;
}
.helpmain {
    width: 1000px;
    margin: 0 auto;
    height: 100%;
}


.helpleft {
    width: 200px;
    height: 450px;
    position: relative;
    border-top: 3px solid red;
    background: white;
    float: left;
    margin-top: 30px;
}
.helpleft h2 {
    text-align: center;
    line-height: 34px;
}

.helpleft ul {
    text-align: center;
}

.helpleft li {
    height: 40px;
    width: 100%;
    position: relative;
}
.helpleft a {
    color: #5D5858;
    text-decoration: none;
    font-size: 18px;
    line-height: 40px;
}
.helpleft img {
    position: absolute;
    top: 31%;
    left: 79%;
}
.helpright {
    width: 750px;
    height: 100%;
    position: relative;
    background: white;
    float: right;
    margin-bottom: 50px;
    margin-top: 30px;
}

.helpright a {
    color: #7f7f7f;
    font-size: 18px;
}
.helpright a:hover{color:red; font-weight: 600;}
.helpright p {
    color: #7f7f7f;

}
.question {
    width: 100%;
    position: relative;
    margin-top: 15px;
    margin-bottom: 15px;
}

.question img {
    margin-left: 24px;
    margin-right: 16px;
}
.answer {
    width: 100%;
    position: relative;
    text-align: center;
}

a:hover{text-decoration: none;}
.answer p {
    text-align: left;
    border-top: 1px solid #E1E1E1;
    margin: 0 auto;
    width: 650px;
    margin-top: 12px;
    margin-bottom: 7px;
    line-height: 33px;
}



.answer img {
    width: 500px;
}
p.up {
    border-top: 0;
    border-bottom: 1px solid #E1E1E1;
    text-align: right;
    margin-bottom: 20px;
}
p.up img {
    width: auto;
}

.foot {
    width: 100%;
    position: relative;
    height: 270px;
    background: #666;
}

.footmin {
    width: 1000px;
    position: relative;
    height: 100%;
    margin: 0 auto;
}
.footmin img {

    margin-top: 80px;
    float: left;
}
.footright {
    float: right;
    width: 700px;
    margin-top: 20px;
}
.footright ul {
    float: right;
}
.footright ul li {
    float: left;
    margin-left: 60px;
    text-align: center;
}

.foot p {
    color: #cecece;
}
.footright a {
    color: #cecece;
    font-size: 14px;
}
.footright h3 {
    color: white;
    font-size: 16px;
}

.banq {
    float: right;
}

.footright h2 img {
    margin: 0;
    width: 40px;

}
.footright h2 {
    color: white;
}

ul.footer-link {
    margin-left: 100px;
    float: left;
}

ul.footer-link li {
    /* border: none; */
    margin-left: 2px;
    color: white;
}
